body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1c1c1c;
    color: #ffffff;
}

.detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

/* 내역 섹션 */
.historySection {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 500px;
    padding: 1rem;
    gap: 1rem;
    justify-content: flex-start;
    overflow: auto;
}

/* 비어있는 상태 */
.historySection .empty-state {
    text-align: center;
    color: #999999;
}

.historySection .empty-state img {
    width: 3rem;
    height: auto;
    margin-bottom: 1rem;
}

.historySection .empty-state p {
    font-size: 1rem;
    color: #cccccc;
}

/* 반응형 */
@media (max-width: 768px) {
    .middleSection {
        grid-template-columns: 10% 20% 20% 20% 30%;
        font-size: 0.8rem;
    }

    .topSection {
        flex-direction: column;
        gap: 0.5rem;
    }

    .summary span {
        font-size: 1rem;
    }
}

/* 중단 헤더 섹션 */
.middleSection {
    align-items: center;
    background-color: #282828;
    padding: 0.8rem;
    border-radius: 8px;
    font-size: 0.9rem;
    color: #dddddd;
}
.middleSection>.category-info{
    display: grid;
    grid-template-columns: 5% 15% 20% 20% 20% 20%;
    user-select: none;
    cursor: pointer;
}

.selection-info{
    display:grid;
    grid-template-columns: 5% 15% 20% 20% 20% 20%;;
}
.trash-button{
    cursor: pointer;
}


.activeChar {
    color: #ff4757;
    font-weight: bold;
}

.middleSection input[type="checkbox"] {
    margin-left: 0.5rem;
}

@media (max-width: 768px) {
    .middleSection {
        grid-template-columns: 10% 20% 20% 20% 30%;
        font-size: 0.8rem;
    }
}

