/* 상단 요약 섹션 */
.topSection {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 4rem;
    background-color: #333333;
    border-radius: 8px;
    position: relative;
}

.summary {
    height: 100%;
    flex: 1;
    align-content: center;
    font-size: 15px;
    color: #cccccc;
    cursor: pointer;
}

.summary span {
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
}

.summary.income {
    color: #cccccc;
}

.summary.expense {
    color: #cccccc;
}

.underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 33.33%; /* 각 버튼의 너비에 맞게 설정 */
    background-color: #ff4757;
    transition: transform 0.3s ease-in-out;
}


